.light-gray {
    color: #8987A1;
}

.black {
    color: #252432;
}

.orange-text {
    color: orangered;
}

.body {
    background-color: #F5F8FF;
}

.body-margin {
    margin: 30px 150px;
}

.section-title {
    font-size: 3rem;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-nav {
    display: flex;
    gap:48px;
}

.primary-nav li {
    list-style: none;
}

.primary-nav a {
    text-decoration: none;
}

#cart-img {
    margin-right: 5px;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
}

.hero-title {
    font-size: 3rem;
}

/* plant card */
.our-plants {
    text-align: center;
}

.plant-card-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 60px;
}

.plant-card p {
    font-weight: bold;
}

.plant-card img {
    width: 100%;
}

.plant-card-button {
    background-color: #E95A08;
    color: #F5F8FF;
    width: 100%;
    height: 45px;
    border: none;

}

/* responsive */
@media screen and (max-width: 576px) {
    .header {
        margin: 0px;
    }

    .logo {
        max-width: 63px;
        max-height: 38px;
    }

    .logo img {
        width: 100%;
    }

    .link-none {
        display: none;
    }
    
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        overflow: hidden;
    }

    .hero-title {
        font-size: 2rem;
    }

    .plant-card-box {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

}
